name: Publish Package

on:
  push:
    tags:
      - v*

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - run: npm i - g pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm build:prod
      - run: pnpm test
      - run: cd dist && npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_SECRET}}
      - run: npx conventional-github-releaser -p angular
        env:
          CONVENTIONAL_GITHUB_RELEASER_TOKEN: ${{secrets.GITHUB_TOKEN}}

